
// fontawesome lib
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');

// 1. Import the initial variables
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Mada');

$black:        #0D0D0E;
$black-bis:    #2A2A2E;
$black-ter:    #38383D;

$grey-darker:  #495057;
$grey-dark:    #4B4A50;
$grey:         #737474;
$grey-light:   #B2B1B3;
$grey-lighter: #D7D7DB;

$white-ter:    #EDEDEF;
$white-bis:    #F8F9FB;
$white:        #F5F8FB;

$orange:       #F7931E;
$orange-bold:    linear-gradient(45deg, $orange, lighten($orange,6));
$yellow:       #FEE800;
$yellow-bold:    linear-gradient(45deg, $yellow, lighten($yellow,6));
$green:        #60BB46;
$green-bold:     linear-gradient(45deg, $green, lighten($green,6));
$turquoise:    #008EA4;
$turquoise-bold: linear-gradient(45deg, $turquoise, lighten($turquoise,6));
$cyan:         #2EC0D1;
$cyan-bold:      linear-gradient(45deg, $cyan, lighten($cyan,6));
$blue:         #3964AF;
$blue-bold:      linear-gradient(45deg, $blue, lighten($blue,6));
$purple:       #6E48AA;
$purple-bold:    linear-gradient(45deg, $purple, lighten($purple,6));
$pink:         #9D50BB;
$pink-bold:      linear-gradient(45deg, $pink, lighten($pink,6));
$red:          #f44336;
$red-bold:       linear-gradient(45deg, $red, lighten($red,6));

// Update Bulma's global variables
$primary: $purple;
$link: $pink;
$info: $orange;
$success: $green;
$warning: $yellow;
$danger: $red;
$background: $white;


// text
$family-sans-serif: 'Quicksand','Mada','source sans pro',sans-serif;
$family-primary: $family-sans-serif;
$text-strong: darken($purple, 10);
$text-invert: $white;
$code: $orange;

$border: darken($purple, 10);
$border-hover: lighten($purple, 5);

// link
$link: $pink;
$link-invert: $white;
$link-visited: $orange;
$link-hover: darken($pink, 10);
$link-hover-border: darken($pink, 10);
$link-focus: darken($pink, 10);
$link-focus-border: darken($pink, 10);
$link-active: darken($pink, 10);
$link-active-border: darken($pink, 10);

// Update some of Bulma's component variables
// $control-border-width: 2px;
// $input-background-color: $beige-lighter;
// $input-border-color: transparent;
// $input-shadow: none;


@import "node_modules/bulma/bulma";

@import "./page";
